<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Квадратні рівняння</title>
</head>
<style>
    .container{
        margin-top: 3%;
        text-align: center;
    }
    p{
        margin-bottom: auto;
    }
</style>
<body>
<div class="container">
    <h2>Квадратне рівняння</h2>
    <h3>ax² + bx + c = 0</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>Корені</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pol :${quadraticPolynomials}">
            <td th:text="${pol.getA()}"></td>
            <td th:text="${pol.getB()}"></td>
            <td th:text="${pol.getC()}"></td>
            <td>
                <p th:each="root :${pol.getRoots()}" th:text="${root}"></p>
                <p th:if="${pol.getRoots().isEmpty()}">Немає коренів</p>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="/" method="get" style="text-align: center">
        <button class="btn btn-primary btn-lg">Нове рівняння</button>
    </form>
</div>
</body>
</html>